spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:infobase_db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console